#era {display: flex;}
#all {display: flex;}
  
.lines article{display: none;}

.lines article.i010{display: flex;}
.lines article.i011{display: flex;}
.lines article.i012{display: flex;}

.lines article.i110{display: flex;}
.lines article.i111{display: flex;}
.lines article.i112{display: flex;}

.lines article.i210{display: flex;}
.lines article.i211{display: flex;}
.lines article.i212{display: flex;}
